In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/강의자료/머신러닝기초/5일차_추천시스템 및 최종과제

- 세가지 데이터 중에서 분류나 회귀나 다양한 기법들을 사용해서 분석

## 1. 중학 실력 Test 데이터

ISHERPA_2010 > TBL_WWW_SelfTest_Info, TBL_WWW_SelfTest_Wrong_Note_EduBase 테이블 사용

### 1-1. 데이터 불러오기

In [ ]:
import pandas as pd

dataset1 = pd.read_csv('./datasets/중학실력Test_문항별정오답.csv')
dataset1.head()

,idx,guid,st_year,Test_Name,Subject,Subject2,Grade,Grade2,Term,Test_Level,take_date,test_time,Test_Jumsu,QuizNum,QuizCode,QuizYN,QuizAnswer
0,521308,9728f3ec-0b86-4d5e-99c2-4412fc09d3a7,2022,수수행대비,MM,MM,8,8,01;02,04;03,2022-08-19 20:01:02.977,1305,85,20,40094723,N,④
1,521308,9728f3ec-0b86-4d5e-99c2-4412fc09d3a7,2022,수수행대비,MM,MM,8,8,01;02,04;03,2022-08-19 20:01:02.977,1305,85,19,40095385,Y,⑤
2,521308,9728f3ec-0b86-4d5e-99c2-4412fc09d3a7,2022,수수행대비,MM,MM,8,8,01;02,04;03,2022-08-19 20:01:02.977,1305,85,18,40094651,Y,6
3,521308,9728f3ec-0b86-4d5e-99c2-4412fc09d3a7,2022,수수행대비,MM,MM,8,8,01;02,04;03,2022-08-19 20:01:02.977,1305,85,17,40095295,Y,②
4,521308,9728f3ec-0b86-4d5e-99c2-4412fc09d3a7,2022,수수행대비,MM,MM,8,8,01;02,04;03,2022-08-19 20:01:02.977,1305,85,16,40095274,Y,①

In [ ]:
dataset1['Test_Level'].unique()

array(['04;03', '02;01', '02', '01', nan, '05;03;02;01', '04;03;02',
       '05;04;03', '05;02;01', '05;04;03;02;01', '03;02;01', '03;02',
       '05;04', '04;03;02;01', '05;03;01', '05;04;03;02', '04',
       '05;04;03;01', '03', '05;04;01', '05;01', '05', '04;02',
       '05;04;02;01', '04;01', 'undefined04;03;02;01', '01;02;03;04;05',
       '03;01', '05;03', '05;03;02', '02;03;04', '04;05', '01;02;03',
       '03;04', '02;03', '02;03;04;05', '01;02'], dtype=object)

In [ ]:
dataset1['Test_Name'].unique()[:20]

array(['수수행대비', '수학 2-2 ( 1단원)', '2', '좌표평면 하', '수학_삼각비', '시험', '1', '3',
       '수학', '1학기전체(수와연산~이차함수)/ 중~최하', '좌표 1', '이 아프다', '수학1', '영어 시험지',
       '이제 기술이 재미있어질 시간', '8월 24일 수학', '8월 25일 수학', '0804수학 중하',
       '2-1 문자의 사용과 식의계산(하80!)-숙제', '111'], dtype=object)

### 1-2. 데이터 컬럼 설명

- idx : 인덱스
- guid : 회원아이디
- st_year : 년도
- Test_Name : 시험지명
- Subject : 교과
- Subject2 : 과목
- Grade : 학년
- Grade2 : 사용자가 선택한 학년
- Term : 학기
- Test_Level : 시험 난이도 (01 최하 ~ 05 최상)
- take_date : 시험응시일
- test_time : 제출시간(초)
- Test_Jumsu : 시험점수
- QuizNum : 시험순번
- QuizCode : 퀴즈코드(문항코드)
- QuizYN : 문항정오답
- QuizAnswer : 사용자입력답

### 1-3. 데이터 활용 아이디어 (참고)

- 문항별 정오답을 예측해보기 (로지스틱 회귀로 분류)


- 시험 점수를 예측해보기 (선형 회귀)

## 2. 월간 학습자 통계 데이터

### 2-1. 데이터 불러오기

In [ ]:
dataset2 = pd.read_csv('./datasets/월간학습자통계.csv',index_col=0)
dataset2.head()

,userid,gender,membertype_codename,grade_codename,memberstatus,memberstatus_codename,memberstatus_change,status_null_count,statusgroup_10_count,statusgroup_20_count,...,test_activeday_count,test_count,test_average_score,test_item_count,test_correct_count,wrong_count,wrong_item_count,wrong_correct_count,yyyy,mm
0,008c6dd3-23f5-47f2-bf12-786243927bd5,F,초등,초6,44,학습생(만료),44,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,9
1,027a7135-be16-4574-a826-5e4b34eed8a0,M,초등,초6,44,학습생(만료),44,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,9
2,02e998fc-1b98-485b-87ca-4e1ef40637f3,M,초등,초2,44,학습생(만료),"01,44",0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,9
3,0342a5d3-2b88-42ee-ba65-665af2cb48c3,F,초등,초3,44,학습생(만료),44,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,9
4,03b8bdcb-699f-4632-a2f2-90da954b34ac,M,초등,초5,44,학습생(만료),"-,00,01,44",3,0,15,...,1.0,1.0,100.0,1.0,1.0,NaN,NaN,NaN,2022,9

In [ ]:
dataset2['memberstatus_codename'].value_counts()

학습생(만료)       109892
학습생(정)        100000
학습생(미납_중지)      1067
학습생(탈퇴)          892
Name: memberstatus_codename, dtype: int64

### 2-2. 데이터 컬럼 설명

- userid : 인덱스
- gender : 회원아이디
- membertype_codename : 회원구분 코드의 한글명(학교급) ex. 초등
- grade_codename : 학년 코드
- memberstatus : 회원상태 (정회원, 준회원, 탈퇴회원 등)
- memberstatus_codename : 회원상태 코드의 한글명
- memberstatus_change : 월 중 회원상태 변화
- status_null_count : 회원상태 없음 일수
- statusgroup_10_count : 임시회원 일수
- statusgroup_20_count : 무료회원 일수
- statusgroup_30_count : 유료회원 일수
- statusgroup_40_count : 중지회원 일수
- statusgroup_50_count : 만료회원 일수
- statusgroup_90_count : 해지회원 일수
- point_gain_activeday_count : 포인트 획득일수
- point_gain_count : 포인트 획득 횟수
- point_gain : 획득 포인트
- point_loss_activeday_count : 포인트 차감일수
- point_loss_count : 포인트 차감 횟수
- point_loss : 차감 포인트
- tablet_activeday_count : 기기 활성 횟수
- tablet_moved_menu_count : 기기 메뉴이동 횟수
- tablet_leave_count :기기 물리적 종료 횟수
- tablet_resume_count : 기기 물리적 재개 횟수
- tablet_login_count : 로그인 횟수
- tablet_logout_count : 기기 로그아웃 횟수
- study_activeday_count :학습 활성일 횟수
- study_count : 학습 횟수
- study_notcompleted_count : 학습 미완료 횟수
- study_completed_count : 학습 완료 횟수
- study_restart_count : 학습 재시작 횟수
- total_system_learning_time : 학습 시간합계(시스템)
- total_caliper_learning_time : 학습 시간합계(캘리퍼)
- media_activeday_count : 미디어 활동 활성 일수
- media_count : 미디어 학습 횟수
- video_action_count : 비디오 활동 횟수
- video_start_count : 비디오 시작 횟수
- video_restart_count : 비디오 재시작 횟수
- video_pause_count : 비디오 일시정지 횟수
- video_jump_count : 비디오 점프 횟수
- video_resume_count : 비디오 재개(일시정지 후 횟수)
- video_speed_count : 비디오 속도 조절 횟수
- video_volume_count : 비디오 볼륨 조절 횟수
- video_end_count : 비디오 종료 횟수
- test_activeday_count : 평가 활성 일수
- test_count : 평가 횟수
- test_average_score : 평가 평균 점수
- test_item_count : 평가 문항 개수
- test_correct_count : 평가 정답 개수
- wrong_count : 오답 노트 진입 횟수
- wrong_item_count : 오답 노트 문항 개수
- wrong_correct_count : 오답 노트 정답 개수
- yyyy : 년
- mm : 월

### 2-3. 데이터 활용 아이디어

- 학생별 평가 평균 점수 예측하기 (선형 회귀)


- 유사한 학습 횟수를 가지는 학생 군집화

## 3. 학생별 과목별 점수 데이터

4일차 GMM을 통한 학생 수준별 군집화 실습을 통해 사용했던 데이터! --> 중1 데이터


본 데이터는 중2 데이터

### 3-1. 데이터 불러오기

In [ ]:
dataset3 = pd.read_csv('./datasets/중2_AI진단평가_과목별점수.csv',index_col=0)
dataset3.head()

,응시기간,시험명,학년,응시일자,전체,국어,영어,수학,과학,사회,역사
0,2021. 12 ~2022. 12,AI진단평가,중2,2021-12-23 00:00:00,338,68,93.0,71.0,NaN,53.0,53.0
1,2021. 12 ~2022. 12,AI진단평가,중2,2021-12-23 00:00:00,50,18,0.0,9.0,NaN,23.0,NaN
2,2021. 12 ~2022. 12,AI진단평가,중2,2021-12-23 00:00:00,65,29,36.0,NaN,NaN,NaN,NaN
3,2021. 12 ~2022. 12,AI진단평가,중2,2021-12-24 00:00:00,276,75,72.0,76.0,NaN,38.0,15.0
4,2021. 12 ~2022. 12,AI진단평가,중2,2021-12-26 00:00:00,29,29,0.0,0.0,NaN,0.0,0.0

### 3-2. 데이터 활용 아이디어

- 데이터 핸들링 하기 (시각화, groupby 등 다양한 전처리 연습하기)


- 유사 사용자 클러스터링 하기